<div class="jumbotron center">
	<h1>About Us</h1>
		<p>Helping people is what we do. We help people solve problems with their wardrobes. We help connect our clients with the top vendors out there that can help style them as they please.</p>
</div>
