<div class="jumbotron center">
	<h1>Design Me!</h1>
		<p>Click here to <%= link_to "Sign Up", "#", class: "btn btn-primary btn-lg" %>
		<%= link_to "Log In", "#", class: "btn btn-primary btn-lg" %>
		</p>
</div>
