<div class="jumbotron center">
	<h1>The Team</h1>
		<p>We are a team of four entrepreneurs from the Bay Area. We came together to help everyday people like us solve problems we face on a daily basis. This is where Design Me came about. We realized everyday people faced problems in what to wear at specific parties, and hiring personal designers outside would be too much.</p>
</div>
